* {
    margin:0px;
    padding:0px;
}

html {
    background-color: white;
}

body {
    background-color:#EFF4F7;
    color:#3F2860;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height:1.5;
}

header {
    background-color:#CFBECE;
    text-align: center;
    height: 100px;
}

header > h1 {
    line-height: 200%;
    padding-top: 16px;
}

ul {
    list-style-type: none;
}

p {
    margin: 10px auto;
}

a:link, a:visited {
    text-decoration: none;
    color:#3F2860
}

a:hover {
    color:#729479
}

nav {
    text-align: center;
    height: 100px;
    padding: 8px;
}

.nav {
    display: inline-block;
    padding:24px;
}

main {
    margin:auto 20%;
    padding:16px;
    border: 2px solid white;
    border-radius: 20px;
}

section {
    padding: 20px 0px;
    margin: 10px auto auto;
    background-color: #fff9e8;
}

section > p {
    text-align: center;
}

.service {
    display: inline-block;
    width:47%;
    background-color: white;
    padding:24px 11px;
    margin:auto auto 20px 5px;
    text-align: center;
    border-radius: 20px;
    box-sizing:border-box;
}

.button {
    display: inline-block;
    background-color: #B8195A;
    color: white;
    text-transform: uppercase;
    padding: 6px 10px;
    font-weight: 700;
    font-size: 16px;
    border: 2px solid #B8195A;
    border-radius: 10px;
    cursor: pointer;
}

footer {
    background-color: #573A56;
    font-size: 0.7em;
    text-align: center;
    color:#fff9e8;
    padding:16px;
    margin-top: 32px;
}

footer a:link {
    color:#fff9e8;
}

footer a:hover {
    color:#e8fff9;
}

.benefirs-list {
    list-style-type: square;
    margin-left: 18px;
}

figure {
    margin:0;
}

img {
    width: 100%;
    height: auto;
}